#! /usr/bin/env zsh

# Aliases - Naming Rules:
# 1. No uppercase letters
# 2. No delimiter between words

# commonly used Git commands that can be executed without additional arguments
alias glog="git log --all --graph --decorate"
alias gconfig="git config --list --show-origin"
alias ga="git add ./"
alias gac="git add ./ ; git commit"
alias gamend="git commit -a --amend"
alias gremote="git remote -v"

gpush () {
    if [[ $# -eq 1 ]]; then
        echo '~/.aliases: git push $1 $(git branch --show-current):$(git branch --show-current)'
        git push $1 $(git branch --show-current):$(git branch --show-current)
    else
        echo '~/.aliases: git push origin $(git branch --show-current):$(git branch --show-current)'    
        git push origin $(git branch --show-current):$(git branch --show-current) 
    fi
}

alias gpusho='gpush'
alias gpull="git pull"

# commonly used Shell commands
alias l="ls -lha"

# Oh-my-zsh plugins
alias aliases="acs"
alias gopen="git open"

# radian: a better R console
alias r="radian"

# pip
alias pinstall="pip install ."

# nvidia-smi: gpu monitoring
alias wnv="watch -n 0.5 nvidia-smi"
